@import url("normalize.css");
@import url("mikeBase.css");
@import url("responsive.css");

body{
	background: url("../images/body_background.jpg") no-repeat scroll 0 0 / 100% auto #ff6543;
	position: relative;
	font-family: "微软雅黑",arial,"宋体",sans-serif;
}
input{
	width: 100%;
	box-sizing:border-box;
	text-align: center;
	padding:0.6rem 0;
	border: 0.3rem solid #c30600;
	border-radius: 1rem;
	margin-top: 13.2%;
	font-size: 1.5rem;
}

.sumWrapper{
	position: relative;
  	background: url("../images/sum_background.jpg") no-repeat scroll 0 0 / 100% auto transparent;
  	padding: 27.9% 0;
}
.sumWrapper p{
	position: absolute;
	width: 1em;
	top:23%;
	left: 11%;
	font-size: 1.5rem;
	color: #b87b00;
}
.sumWrapper span{
	position: absolute;
	top:16.3%;
	right: 11%;
	font-size: 1.8rem;
	color: #e02900;
}
.sumWrapper em{
	font-size: 6rem;
}
.wrapper{
	margin: 45.6% auto 0;
	width: 59.4%;
}

.detailLinkWrapper{
	text-align: right;
	margin-top: 28.7%;
	color: #701602;
	font-size: 1.3rem;
}
.submitBtn{
	background: #ffdd58;
	color: #e02900;
	border: none;
	box-shadow: 0.3rem 0.5rem 0.2rem #b80b00;
}
.servicePhone{
	background: #c30600;
	border-radius: 0.5rem;
	text-align: center;
	margin: 15.8% auto 0;
	width: 90%;
	padding: 0.450rem 0;
	font-size: 1.3rem;
	color: #ffdd58;
}


